.listMult{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;

	-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	-moz-column-gap: 40px; /* Firefox */
	column-gap: 10px;
}

li{
	padding: 0px;
	margin: 0px;
}

#content{
	margin: auto;
	width: 840px;
	font-family: "Droid Sans", Helvetica, Verdana, sans-serif;

}

#category{
	padding-top: 60px;
	padding-bottom: 0px;
}


.navbar{
	margin-bottom: 0;
	border-radius: 0;
}